
  <div class="card">
    <div class="card-header">Nueva Sintaxis ({{ "@for" }})</div>
    <div class="card-body">
      <pre><code>
              &lt;ul&gt;
                {{'@for (fruta of frutas; track $index; let i = $index) {'}}
                  &lt;li&gt;{{'{{i+1}}'}} - {{'{{fruta}}'}}&lt;/li&gt;
                {{'}'}}
              &lt;/ul&gt;
        </code></pre>
    </div>
  </div>
  <!-- @for (item of frutas; track $index) {
    <div class="card mt-2" >
      <div class="card-body">
        <h5 class="card-title">{{ $index + 1 }} - {{ item }}</h5>
        <p class="card-text">Esta es una sintaxis de ejemplo para el uso de la directiva.</p>
      </div>
    </div>
  } -->