<div class="general-styles">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand">Angular 19 Sintaxis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="" [ngClass]="{active: menuOption == 'home'}"
                (click)="onOption('home')">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="if-sintaxis" [ngClass]="{active: menuOption == 'if-sintaxis'}"
                (click)="onOption('if-sintaxis')">If Sintaxis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="switch-sintaxis" [ngClass]="{active: menuOption == 'switch-sintaxis'}"
                (click)="onOption('switch-sintaxis')">Switch Sintaxis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="for-sintaxis" [ngClass]="{active: menuOption == 'for-sintaxis'}"
                (click)="onOption('for-sintaxis')">For Sintaxis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="pruebas" [ngClass]="{active: menuOption == 'pruebas'}"
                (click)="onOption('pruebas')">Pruebas</a>
            </li>
  
          </ul>
        </div>
      </div>
    </nav>
</div>
<router-outlet />
